@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;900&display=swap');

:root {
  --rose-color: #BF048D;
  --blue-color: #04D9D9;
  --bg-color: #091619;
  --nav-line-color: #808080;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 10px;

}

body {
  background-color: var(--bg-color);
}

 A {
  text-decoration: none;
  color: var(--blue-color) !important;
  text-shadow: 0 0 10px var(--blue-color), 0 0 30px var(--blue-color) !important;
  font-size: 20px;
}

.neonTextRose {
  color: var(--rose-color);
  text-shadow: 0 0 30px var(--rose-color);
}

.neonTextBlue {
  color: var(--blue-color) !important;
  text-shadow: 0 0 10px var(--blue-color), 0 0 30px var(--blue-color) !important;
}

#nav ul {
  height: 100%;
  width: 60px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

#nav ul li {
  display: inline;
  margin: 1em;
  font-size: 20px;
  font-weight: 500;
}

#nav {
  padding: 0px;
  margin: 0px;
  margin-top: -10px;
  height: 100vh;
  position: fixed;
  text-align: center;
  border-right: 1px solid var(--nav-line-color);
  background-color: var(--bg-color);
}

#header {
  font-size: 6rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 900;
  color: transparent !important;
  -webkit-text-stroke: 1.5px var(--rose-color);
}

#sub-header {
  font-size: 20px;
  text-align: center;
  font-weight: 200;
  align-content: flex-start;
  margin-top: -30px;

}

/* Empieza seccion de la cartelera */

.flex-container {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px
}

.flex-items,
.flex-items img {

  height: 500px;
  width: 280px;
  filter: drop-shadow(0px 0px 2px var(--blue-color))
}


/* Termina seccion de la cartelera */

/* Empieza seccion de los articulos */
.flex-container-articles {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 2px var(--blue-color);
  border-radius: 4px;
  width: 1110px;
  height: 524px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -100px;
  margin-top: 140px;
  
}

.flex-items-articles {
  color: white;
  margin: 10px;
  align-content: space-between;
}

.flex-items-articles h1 {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 300;
}

.flex-container-articles img {
  height: 470px;
  width: 330px;
}

#item-portada img,
#mockup img {
  width: 680px;
  height: 480px;
}

/* Termina seccion de articulos */


/* Aca comienza el grid para las sección de "sobre mi" 
    estructura del grid container y sus items
*/


.grid-container {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  width: 1110px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  grid-gap: 5%;
}

.grid-items-personal {
  grid-column: 1;
  grid-row: 1;

}

.grid-items-habilidades {
  grid-column: 2;
  grid-row: 1;

}

.grid-items-hobbies {
  grid-column: 3;
  grid-row: 1;

}

/* Estilos de los grid items*/
.grid-items-rose {
  font-weight: 400;
  font-size: 40px;
  color: transparent !important;
  -webkit-text-stroke: 1.5px var(--rose-color);
  text-shadow: 0 0 20px var(--rose-color);
  text-align: center;
}


.grid-container h1 {
  font-size: 20px;
  font-weight: 100;
  color: white;
  text-align: center;
}

/* Empieza la seccion "Contactame" */

.grid-container-contact {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 5;
  width: 1110px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.grid-items-contact {
  grid-column: 1/2;
  text-align: initial;

}

.grid-items-info {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  color: white;
  font-size: 20px;
  font-weight: 100;
  width: 600px;

}

.grid-items-email {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  font-size: 20px;


}

.grid-items-redes {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  width: 250px;
  height: 50px;


}

.grid-items-redes img {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


#img-behance:hover {
  filter: brightness(2);
}



#img-git:hover {
  filter: brightness(2);
}


#img-linkedin:hover {
  filter: brightness(2);
}



#img-cv:hover {
  filter: brightness(2);
  
}


/* Formulario esta dentro de el grid de contacto y se le agrego un fieldset con flex para poder modificarlo */

.grid-items-form {
  grid-column: 3 / 4;
  grid-row: 2 / 6;
  height: 400px;
  width: 500px;
  text-align: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 450px;
  font-size: 20px;
  border: none;
}

input,
textarea {
  min-height: 40px;
  background-color: black;
  border: none;
  font-size: 20px;
  padding-left: 10px;
  font-weight: 200;
  color: white;
  margin-bottom: 10px;
}

#button {
  border: 1px solid var(--blue-color);
  background-color: transparent;
  color: var(--blue-color);
  width: 150px;

}

#button:hover {
  filter: brightness(0.85);
  background-color: var(--blue-color);
  color: white;

}



/* Termina la parte del formulario*/



/* Termina la seccion de contactame*/


/* Empieza la seccion del footer*/

footer {
  display: flex;
  border-top: 1px solid var(--nav-line-color);
  height: 50px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

footer h1 {
  font-family: "Poppins";
  font-weight: 100;
  color: white;
  padding-right: 400px;
  font-size: 20px;

}

footer img {
  height: 30px;
  align-content: flex-end;
}

/* Termina la seccion del footer*/